*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-color);
}

.side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: var(--color-black);
}

.container{
    width: calc(100vw - 250px);
    height: calc(100% - 100px);
}

.play-bar{
    height: 100px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

nav{
    height: 150px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.448);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}