*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}
/* utility */

/* flex */
.flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.col-gap{
    column-gap: 15px;
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.j-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}
/* padding */
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* bordi */
.border-left{
    border-left: 2px solid var(--color-highlight);
}
.border-bottom{
    border-bottom: 2px solid var(--color-highlight);
}
.border-circle{
    border-radius: 50%;
}
/* layout */
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-color);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: var(--color-black);
    position: relative;
}

.container{
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    overflow-y: scroll;

}

.play-bar{
    height: 100px;
    background-color: var(--color-dark-grey);
    width: 100%;
}

.nav{
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.448);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.card-container{
    margin-top: 110px;
    height: calc(100% - 150px);
}

/* testo */
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.text-white{
    color: var(--color-white);
}
.text-grey{
    color: var(--color-grey);
}
.font-size-2em{
    font-size: 1.5em;
}

/* position */
.relative{
    position: relative;
}
/* sidebar */
.side-bar img{
    width: 15%;
    filter: invert(46%) sepia(1%) saturate(2%) hue-rotate(349deg) brightness(94%) contrast(81%);
}
#logo{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(139deg) brightness(106%) contrast(101%);
    width: 150%;
}
.side-bar > div:first-child div:last-child{
    font-size: 2em;
}
.side-bar{
    overflow-y: hidden;
}
sup > i{
    font-size: 0.3em;
}
ul{
    list-style: none;
}
.plus{
    font-size: 1.2em;
}
.plus-box{
    width: 50px;
    height: 50px;
    color: var(--color-black);
    text-align: center;
    line-height: 35px;
}
.plus-box img{
    width: 100%;
}
ul.px-20{
    padding-top: 15px;
    overflow-y: auto;
    height: 300px;
}
ul.px-20 li{
    padding: 15px 0;
}
.dl{
    border-bottom: 1px solid var(--color-light-grey);
    margin: 0 20px;
}
.dl img{
    width: 8%;
}
.bottom-side-bar{
    position: absolute;
    bottom: 0;
    z-index: 1000;
    background-color: var(--color-black);
}
.bottom-side-bar div:last-child img{
    width: 25px;
    height: 25px;
    background-color: var(--color-grey);
    border-radius: 50%;
    filter: none;
}

/* main container */
.nav > div{
    border: 1px solid var(--color-white);
    margin: 0 30px;
    padding: 15px 50px;
    border-radius: 40px;
}
.main-container img{
    width: 100%;
}
.card{
    width: calc(100% / 6);
}
.circle{
    border-radius: 50%;
}
.underline{
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-20px, 5px);
}
.hover{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;

}
.fa-circle-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: 5em;
}
.img-container:hover .hover{
    opacity: 1;
    background-color: #00000059;
}

/* playbar */
.play-bar img{
    max-width: 10%;
}
.play-bar .fa-circle-play{
    position: static;
    font-size: 2.5em;
    transform: translate(0, 0);
}
.play-bar-container{
    width: calc(100% / 3);
}
.bar-container{
    width: 100%;
}
.music-bar{
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    background-color: var(--color-grey); 
    width: 100%;
    border-radius: 20px;
  }
  .music-bar::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 20px;
  }
  .music-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc((5px / 2) - (12px / 2));
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -250px 0 0 250px var(--color-light-grey)
  }